# =====================
# Unity
# =====================
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Sss]ettings/

# =====================
# IDE / OS
# =====================
.vs/
.vscode/
.DS_Store
Thumbs.db

# =====================
# Unity / Visual Studio
# =====================
*.csproj
*.sln
*.user
*.unityproj
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# =====================
# Plastic SCM
# =====================
.plastic/

# =====================
# Addressables / Cache
# =====================
/Library/PackageCache/
